<header>
  <div class="search-area">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input class="text-area" type="text" name="" value="">
  </div>
  <div class="user-area">
  </div>
</header>
