[Unit]
Description=Stream DL Broker

[Service]
Type=forking
WorkingDirectory=/opt/streamDL/
EnvironmentFile=/opt/streamDL/environment.conf
ExecStart=/usr/bin/python /opt/streamDL/streamDL_daemon/main.py --pid /var/run/streamDL.pid --log /var/log/streamDL/streamDL.log
Restart=always
PIDFile=/var/run/streamDL.pid
ExecStop=/bin/kill -9 $MAINPID

[Install]
